/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme

*/

.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.custom_searchHeader .fl-icon i {
    cursor: pointer; 
}
footer .fl-icon-wrap a:hover p {
    color: #851029!important;
}
.gfield  .below.hour_minute_colon {
    padding-top: 20px!important;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
	max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.fl-module-content .uabb-module-content .uabb-ultb3-info {
	background-color: #fff;
    display: inline-block;
    width: 60%;
}
header h3.fl-heading a[title=LOCATIONS] span.fl-heading-text:before {
    content: "\f041";
        font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}
.fl-page{
	width: auto;
}
.brandSlider .uabb-photo-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}
.uabb-gf-style.uabb-gf-form-style1 .gfield_captcha_input_container > input {
    max-width: 80px!important;
}
ul.storename, ul.storename ul {
    padding: 0px;
    list-style: none;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://carpeteria-stg.mm-dev.agency/wp-content/uploads/2022/03/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}

.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 20px 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}

/* flyer css start here */
.changeLocation {
    position: absolute;
    top: 120px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    max-height: 550px;
    overflow: visible;
    background-color: #fff;
    color: #ffff;
    z-index: +6;
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.15);
    transition: all 0.6s;
   
}
.changeLocation .content {
	overflow-y: auto;
    height: 100%;
}
#storeLocation:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 30px solid #fff;
	position: absolute;
	bottom: 100%;
	filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.15));
	left: 50%;
	transform: translateX(-50%);
    display: none;
}

.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
#storeLocation .content a{
	color: #000!important;
}	
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix{
	font-size: 16px!important;
    font-weight: 900!important;
	font-family: "Spartan",sans-serif;

}
#storeLocation .title-prefix{
    margin-bottom: 10px !important;
}

#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	font-family: "Spartan",sans-serif;
}

/* #storeLocation .store_wrapper h5.store-add:hover,  */
#storeLocation .store_wrapper a:hover, #storeLocation .store_wrapper a:hover:before{
	color: #01839f !important;
}
.content .store_wrapper {
padding: 30px 30px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}

.changeLocation .closebtn{
	display: none;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: rgb(255 255 255 / 0.9)!important;
}


.contentFlyer {
	max-width: 300px;
}

.contentFlyer *{
	font-family: Poppins, sans-serif;

}   
   
/* flyer css end here ?????????????????????????????? */
#storeLocation{
	display: none;
}
.contentFlyer p{
	line-height: 0.9em;
	font-size: 12px;
	color: #000000!important;
    text-transform: capitalize;
}    
.locationWrapFlyer .contentFlyer h3, #storeLocation .store_wrapper h5:first-child {
    color: #000;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.locationWrapFlyer .contentFlyer .mobile a{
    color: #000!important;
    font-family: "Spartan",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3em;
	margin-top: 5px!important;
    display: inline-block;
    margin-bottom: 5px!important;

    
}
.locationWrapFlyer .contentFlyer .mobile a:hover, .locationWrapFlyer .contentFlyer .mobile a:hover:before{
    color: #01839f !important;
}
/* .locationWrapFlyer .contentFlyer .mobile:before {
    content:"\f095";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
} */
.locationWrapFlyer  .dropIcon:after {
     content:"\f078 ";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-left: 5px;
}
.locationWrapFlyer  .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
	margin-left: 5px;
    cursor: pointer;
}

.content .store-add{
	color: #000000;
    font-weight: 300;
    font-size: 12px;
    max-width: 220px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
#storeLocation .store_wrapper a{
	font-size: 12px!important;
}
#storeLocation .store-hour{
	color: #000!important;
    font-family: "Spartan",sans-serif;
    font-weight: 700;
    font-size: 12px!important;
    text-transform: capitalize;
    margin-top: 10px;
}
#storeLocation .store-phone, #storeLocation .store-hour, #storeLocation .content .choose_location, #storeLocation .content .view_location {
     margin-bottom: 10px!important;
    display: block;
}

#storeLocation .store-phone a{
	color: #000!important;
    font-family: "Spartan",sans-serif;
    font-weight: 400;
    font-size: 12px!important;
    text-transform: capitalize;
}
#storeLocation .store-phone a:before, .locationWrapFlyer .contentFlyer .mobile a:before{ 
    content:"\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
}
.content .choose_location:before{
	content: "\f054";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
.content .view_location:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
.gform_wrapper.gravity-theme .gform_fields {
    text-align: left;
}

.button-wrapper a.button.alt:hover {
    background-color: #01839f;
    border-color: #01839f;
    color: #fff;
}
.product-grid.btn-grey>.fl-button:hover{
    text-decoration: none;
}

.gchoice label {
    margin-top: -4px;
}
.product-detail-layout-6 .product-colors ul li.found{
    margin-right: 5px !important;
}
span.fl-comments-popup-link {
    margin-left: 4px !important;
}

ul.social-icons li a:hover i {
    color: #851029;
}



@media screen and (min-width:769px) and (max-width:1024px){
    .searchCol {
        width: 2%;
    }
    .navigation-col .fl-menu .menu > li{
        font-size: 14px;
    }
    .quickLinks .fl-col.fl-col-small {
        width: 50% !important;
    }
    .reducespace_iPad .fl-row-content-wrap {
        padding: 20px;
    }
    .text_over_bnr h5.uabb-ultb3-title{
        line-height: 20px !important;
    }
    .iPadCol {
        width: 35% !important;
    }
}


@media (max-width:1024px){
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
    .blog .fl-sidebar{
        display: block !important;
    }

}

@media (max-width:768px){
	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	/* .fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	} */
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .locationWrapFlyer{
        justify-content: center;
    }
    .header_adv_logo .fl-photo-content img {
        max-width: 40%;
    }
    .Aleft .fl-photo-align-center{
        text-align: left;
    }
    .Aright .fl-photo-align-center{
        text-align: right;
    }
    .odd .direction, .direction a {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .rmp-menu-item-link{
        text-transform: uppercase !important;
    }
    .changeLocation{
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .fl-row-custom-height.Header_Banner > .fl-row-content-wrap, .Header_Banner > .fl-row-content-wrap {
        align-items: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
    }
    .Header_Banner .fl-col-content.fl-node-content{
        margin-left: 20px;
        margin-right: 20px;
    }
    a.responsive-menu-item-link {
        padding-left: 15%;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0px;
        font-size: 13px;
        border-bottom: 0px solid #1d4354;
        font-family: inherit;
        font-weight: normal;
        color: #fff;
        text-align: left;
        background-color: inherit;
    }
    a.uabb-button.contactus {
        padding: 0;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        width: 240px;
        min-height: 55px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #851029;
        border: 1px solid #851029;
        color: #fff;
        text-decoration: none;
    }
    a.uabb-button.contactus:hover {
        background: #01839f;
        border: 1px solid #01839f;
    }

}

@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
    .header_adv_logo .fl-photo-content img {
        max-width: 100%;
    }
    .Aleft .fl-photo-align-center, .Aright .fl-photo-align-center{
        text-align: center;
    }
    .uabb-gf-style .gform_wrapper .gform_footer input[type=submit] {
        width: 150px !important;
    }
}
@media screen and (max-width: 480px){
    .rmp-container{
        max-width: 320px !important;
        min-width: 300px !important;
    }
    button.rmp_menu_trigger {
        top: 85px !important;
        right: 2% !important;
    }
    .Header_Banner h1.uabb-infobox-title, .Header_Banner h1{
        font-size: 30px !important;
        line-height: 40px;
    }
    .uabb-creative-button-wrap a, a.fl-button{
        width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .odd .direction, .direction a {
        max-width: 100% !important;
    }
    .gchoice  {
        display: flex;
    }
    .gchoice label {
        margin-top: -2px;
        margin-left: 5px !important;
    }
     div.fl-module-photo-gallery.brandSection .uabb-photo-gallery-item {
        width: 50% !important;
        height: auto !important;
        margin-bottom: 20px !important;
        text-align: center !important;
    }
    .rmp-menu-item-link{
        font-size: 13px !important;
    }
    .rmp-submenu .rmp-menu-item-link{
        font-size: 11px !important;
    }
    .text_over_bnr .fl-module-content .uabb-module-content .uabb-ultb3-info {
        width: 90%;
    }
    .text_over_bnr .uabb-ultb3-desc.uabb-text-editor {
        font-size: 30px;
        line-height: 35px;
    }
    .text_over_bnr h5.uabb-ultb3-title{
        line-height: 20px !important;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}

@media screen and (max-width: 320px){
    .Header_Banner h1.uabb-infobox-title,  .Header_Banner h1{
        font-size: 30px !important;
        line-height: 35px !important;
    }
}


@media(min-width: 769px ){
  .fl-slide-foreground {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .fl-slide-content-wrap {
     width: 100%;
 }
}
/* Slider height issue on mobile */
@media(max-width: 768px) {
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
}

